.navbar {
  overflow: hidden;
  background-color: #0174DF;
  float: left;
  position: fixed;
}

/* Dropdown button */
.homebtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a green background color to navbar links on hover */
.navbar a:hover, .homebtn {
  background-color: #5FB404;
}
